<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RastreFast - Resultado</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/resultPage.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
</head>
<body>
  <%- include('partials/header.ejs') %>

  <main>
    <div class="container">
      <section id="current-info">
        <h1 id="code-tracker"><%= tracker.code %></h1>
        <span id="current-state">-> <%= tracker.historic[0].info %></span>
        <span id="current-country">-> Hong Kong</span>
      </section>

      <section id="history-for-order">
        <h1>Histórico do Pacote</h1>
        <ul id="history-list">
          <% if (tracker.historic.length <= 0) { %>
            <li>
              Ainda não há informações do produto. Volte mais tarde!
            </li>
          <% } else { %>
            <% tracker.historic.forEach(track => { %>
              <li class="item--history-list">
                <span class="signal">-></span>
                <span class="date-and-hours"><%= track.hour %></span>
                <h2 class="state"><%= track.info %></h2>
              </li>
            <% }) %>
          <% } %>
        </ul>
      </section>
      <button id="btn-save">
        Favoritar
      </button>
    </div>
  </main>
  <div class="notification">
    <div id="btn-cancel"><span>X</span></div>
    <form action="/api/saveOrder" method="post" id="formSave">
      <input type="hidden" name="userId" id="userId" value="<% if(user.id) {%> user.id <% } %>">
      <label for="codeOrder">Código de rastreio</label> 
      <input type="text" name="codeOrder" id="codeOrder" placeholder="Código de rastreio..." value="<%= tracker.code %>">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name" placeholder="Nome">
      <button type="submit">Salvar</button>
    </form>
  </div>

  <%- include('partials/footer.ejs') %>

  <script>
    const saveBtn = document.getElementById('btn-save')
    const cancelBtn = document.querySelector('#btn-cancel > span')
    const notificationScreen = document.getElementsByClassName('notification')[0]

    saveBtn.addEventListener('click', () => {
      notificationScreen.style.display = 'flex'
    })
    cancelBtn.addEventListener('click', () => {
      notificationScreen.style.display = 'none'
    })

  </script>
</body>
</html>